- name: Load Nodejs
  ansible.builtin.include_role:
    name: common
    tasks_from: nodejs.yaml

- name: Add the user 'expense'
  ansible.builtin.user:
    name: expense

- name: Delete the existing the /app directory
  ansible.builtin.file:
    path: /app
    state: absent

- name: Create a app directory
  ansible.builtin.file:
    path: /app
    state: directory

- name: Download application code
  ansible.builtin.unarchive:
    src: https://expense-artifacts.s3.amazonaws.com/expense-backend-v2.zip
    dest: /app
    remote_src: yes

- name: Install Nodejs dependencies
  ansible.builtin.shell: npm install
  args:
    chdir: /app

- name: Copy systemd service file
  ansible.builtin.template:
    src: backend.service
    dest: /etc/systemd/system/backend.service

- name: enable and start backend service
  ansible.builtin.systemd:
    name: backend
    enabled: true
    state: restarted
    daemon_reload: true

