- name: Add the user 'expense'
  ansible.builtin.user:
    name: expense

- name: Delete the existing the /app directory
  ansible.builtin.file:
    path: /app
    state: absent

- name: Create a app directory
  ansible.builtin.file:
    path: /app
    state: directory

- name: Download application code
  ansible.builtin.unarchive:
    src: https://expense-artifacts.s3.amazonaws.com/{{ component_name }}-backend-v2.zip
    dest: /app
    remote_src: yes


